page-event {
  .slides {
    height: 250px;
    ion-icon {
      color: color($colors, lightest) !important;
      font-size: 30px;
      position: absolute;
      top: 15px;
      z-index: 9999;
    }
    .back-arrow-icon {
      left: 20px;
    }
    .share-icon {
      right: 70px;
    }
    .heart-icon {
      right: 20px;
    }
  }
  .swiper-pagination-bullet {
    background: color($colors, lightest) !important;
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    background: color($colors, lightest);
    opacity: 1;
  }
  #slider1 {
    background: transparent url("../../assets/nightlife-event.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  #slider2 {
    background: transparent url("../../assets/nightlife-event1.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  #slider3 {
    background: transparent url("../../assets/nightlife-event2.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  #slider4 {
    background: transparent url("../../assets/nightlife-event3.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  a {
    color: color($colors, theme1);
    font-weight: bold;
    text-decoration: none;
  }
  .trend-hash, .event-time, .event-attendance {
    color: color($colors, darker) !important;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .user {
    ion-avatar {
      display: inline-block;
      img {
        width: 40px;
      }
    }
  }
  .reviews {
    h1 {
      font-size: 220% !important;
      color: color($colors, theme1) !important;
      font-weight: bold;
    }
    ion-icon, .liked-count, .reviews-count {
      font-size: 13px !important;
    }
  }
  .write-review {
    color: color($colors, theme1) !important;
    letter-spacing: 1px;
  }
  .about-event, .endorsed, .location, .contact, .similar-event {
    font-size: 12px;
    letter-spacing: 1px;
    h2 {
      color: color($colors, darker) !important;
      font-size: 130% !important;
    }
  }
  .endorsed {
    ion-icon {
      color: color($colors, theme1);
    }
  }
  .event {
    display: inline-block;
  }
  .event-img {
    position: relative;
    .fav {
      font-size: 30px;
      position: absolute;
      top: 15%;
      right: 10%;
    }
    ion-list {
      border-radius: 0 0 5px 5px;
      letter-spacing: 1px;
      ion-item {
        font-size: 14px !important;
      }
    }
  }
  .no-fav {
    .unlike {
      color: color($colors, lightest) !important;
      display: block;
    }
    .like {
      display: none;
    }
  }
  .add-to-fav {
    .unlike {
      display: none;
    }
    .like {
      color: color($colors, theme1) !important;
      display: block;
    }
  }
  .star-rating, .event-place, .event-attendance {
    color: color($colors, darker) !important;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .users {
    position: relative;
    ion-avatar {
      position: absolute;
      img {
        width: 20px;
        border: 2px solid color($colors, lightest);
      }
    }
    .user1 {
      right: 44px;
      z-index: 5;
    }
    .user2 {
      right: 33px;
      z-index: 4;
    }
    .user3 {
      right: 22px;
      z-index: 3;
    }
    .user4 {
      right: 11px;
      z-index: 2;
    }
    .user5 {
      right: 0;
      z-index: 1;
    }
  }
  .nextpage {
    position: relative;
    bottom: 7px;
    z-index: 9999;
    button {
      font-size: 12px;
      background: linear-gradient(90deg, color($colors, theme1), color($colors, theme2));
      letter-spacing: 2px;
      box-shadow: 0 5px 20px rgba(136, 136, 136, 0.6);
    }
  }
  @media only screen and (max-width: 360px) {
    .reviews {
      h1 {
        font-size: 180% !important;
      }
      ion-icon, .liked-count, .reviews-count {
        font-size: 12px !important;
      }
    }
  }
  @media only screen and (min-width: 760px) {
    .slides {
      height: 450px !important;
      ion-icon {
        font-size: 50px !important;
      }
      .back-arrow-icon {
        left: 30px;
      }
      .share-icon {
        right: 110px;
      }
      .heart-icon {
        right: 30px;
      }
    }
    .event-name h3 {
      font-size: 400% !important;
    }
    .trend-hash, .event-time, .event-attendance {
      font-size: 23px;
    }
    .reviews {
      h1 {
        font-size: 350% !important;
      }
      ion-icon, .liked-count, .reviews-count {
        font-size: 23px !important;
      }
    }
    .write-review {
      font-size: 27px !important;
    }
    .about-event, .endorsed, .location, .contact, .similar-event {
      h2 {
        font-size: 270% !important;
      }
      ion-item {
        font-size: 23px !important;
      }
    }
    .endorsed {
      ion-icon {
        font-size: 40px !important;
      }
    }
    .map {
      width: 100%;
    }
    .similar-event {
      .event-attendance {
        font-size: 15px !important;
      }
    }
    .nextpage {
      button {
        font-size: 22px !important;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
      }
    }
  }
}
