page-hashtag {
  ion-header {
    border: 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
  }
  .toolbar-background-md, .toolbar-background-ios {
    background: linear-gradient(90deg, color($colors, theme1), color($colors, theme2));
  }
  .toolbar-title-md {
    letter-spacing: 1px;
  }
  .back-button-icon-md {
    color: color($colors, lightest) !important;
  }
  .city-pic {
    position: relative;
  }
  .city-pic img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .city-pic p {
    font-size: 15px;
    text-align: left;
    text-indent: 10px;
    font-weight: bold;
    margin-bottom: 4px;
    letter-spacing: 1px;
  }
  .city-pic span {
    color: color($colors, mediumdark);
    font-size: 14px;
    text-align: left;
    text-indent: 10px;
    display: block;
    letter-spacing: 1px;
  }
  .city-pic .checkmark {
    display: none;
  }
  .active img {
    -webkit-filter: sepia(30%); /* Safari 6.0 - 9.0 */
    filter: sepia(30%);
    opacity: 0.4;
  }
  .active .checkmark {
    display: block;
    font-size: 40px;
    color: color($colors, theme1);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .active p {
    color: color($colors, theme1);
  }
  .start {
    position: fixed;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    button {
      background: linear-gradient(90deg, color($colors, theme1), color($colors, theme2));
      letter-spacing: 3px;
      box-shadow: 0 5px 30px rgba(136, 136, 136, 0.6);
      padding: 25px 140px 25px 140px;
    }
  }
  @media only screen and (max-width: 320px) {
    .city-pic img {
      width: 150px !important;
      height: 222px !important;
    }
    .city-pic p {
      text-indent: 0 !important;
    }
    .city-pic span {
      text-indent: 0 !important;
    }
    .start button {
      padding: 20px 40px 20px 40px !important;
    }
  }

  @media only screen and (max-width: 360px) {}

  @media only screen and (max-width: 375px) {
    .city-pic img {
      width: 160px !important;
      height: 237px !important;
    }
    .city-pic p {
      text-indent: 6px !important;
    }
    .city-pic span {
      text-indent: 6px !important;
    }
    .active .checkmark {
      font-size: 30px;
    }
    .start button {
      padding: 20px 100px 20px 100px !important;
    }
  }

  @media only screen and (max-width: 411px) {}

  @media only screen and (max-width: 414px) {
    .city-pic img {
      width: 180px;
      height: 266px;
    }
    .city-pic p {
      text-indent: 10px;
    }
    .city-pic span {
      text-indent: 10px;
    }
    .start button {
      padding: 25px 100px 25px 100px;
    }
  }

  @media only screen and (min-width: 760px) {
    .toolbar-title-md {
      font-size: 2.5rem !important;
    }
    .back-button-icon-md {
      font-size: 2.5rem !important;
    }
    .city-pic img {
      width: 340px !important;
      height: 503px !important;
    }
    .city-pic p {
      font-size: 25px;
      text-indent: 15px !important;
    }
    .city-pic span {
      font-size: 24px;
      text-indent: 15px !important;
    }
    .start button {
      font-size: 25px;
      padding: 35px 250px 35px 250px;
    }

    .active .checkmark {
      font-size: 60px;
    }
  }
}
