page-ticket-confirm-detail {
  .ticket-confirm-detail {
    height: 100%;
    background: linear-gradient(180deg, color($colors, theme2), color($colors, theme1));
    letter-spacing: 1px;
    h3 {
      color: color($colors, lightest);
      font-size: 120%;
    }
    .back-arrow {
      position: absolute;
      top: 32px;
      left: 20px;
      z-index: 9999;
      font-size: 160% !important;
    }
    .event-name {
      letter-spacing: 1px;
      h3 {
        font-size: 130% !important;
        font-weight: bold;
      }
    }
    .total-price {
      span {
        font-weight: bold;
      }
    }
    .qrcode {
      img {
        width: 100px;
        height: 100px;
        display: block;
        margin: auto;
      }
    }
    a {
      color: color($colors, theme1);
      font-weight: bold;
      text-decoration: none;
    }
    .social-icon {
      ion-icon {
        font-size: 25px;
      }
    }
  }
}
