page-signup {
  ion-header {
    border: 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
  }
  .toolbar-background-md, .toolbar-background-ios {
    background: linear-gradient(90deg, color($colors, theme1), color($colors, theme2));
  }
  .toolbar-title-md {
    letter-spacing: 1px;
  }
  button {
    letter-spacing: 2px;
    box-shadow: 0 5px 20px rgba(136, 136, 136, 0.4);
  }
  .register button {
    background: linear-gradient(90deg, color($colors, theme1), color($colors, theme2));
    padding: 20px 140px 20px 140px !important;
  }
  .font-2x {
    font-size: 3em;
    line-height: 1;
  }
  a {
    color: color($colors, theme1) !important;
  }
  @media only screen and (min-width: 760px) {
    .toolbar-title-md {
      font-size: 2.5rem !important;
    }
    .back-arrow-icon {
      font-size: 2.5rem !important;
    }
  }
}
