page-eventlist {
  ion-header {
    border: 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
  }
  .toolbar-background-md, .toolbar-background-ios {
    background: linear-gradient(90deg, color($colors, theme1), color($colors, theme2));
  }
  .toolbar-title-md {
    letter-spacing: 1px;
  }
  .location p {
    color: color($colors, theme1) !important;
    letter-spacing: 1px;
  }
  .event-img {
    position: relative;
    .fav {
      font-size: 30px;
      position: absolute;
      top: 15%;
      right: 10%;
    }
    ion-list {
      border-radius: 0 0 5px 5px;
      letter-spacing: 1px;
      ion-item {
        font-size: 14px !important;
      }
    }
  }
  .no-fav {
    .unlike {
      color: color($colors, lightest) !important;
      display: block;
    }
    .like {
      display: none;
    }
  }
  .add-to-fav {
    .unlike {
      display: none;
    }
    .like {
      color: color($colors, theme1) !important;
      display: block;
    }
  }
  .hashtag-cost, .event-place, .event-attendance {
    color: color($colors, darker) !important;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .hashtag-cost {
    .cost {
      color: color($colors, theme1) !important;
      font-weight: bold !important;
    }
  }
  .users {
    position: relative;
    ion-avatar {
      position: absolute;
      img {
        width: 20px;
        border: 2px solid color($colors, lightest);
      }
    }
    .user1 {
      right: 44px;
      z-index: 5;
    }
    .user2 {
      right: 33px;
      z-index: 4;
    }
    .user3 {
      right: 22px;
      z-index: 3;
    }
    .user4 {
      right: 11px;
      z-index: 2;
    }
    .user5 {
      right: 0;
      z-index: 1;
    }
  }
  .filter {
    position: fixed;
    bottom: 6%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
    button {
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: capitalize;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
      padding: 0 20px 0 20px;
    }
  }
  @media only screen and (min-width: 760px) {
    .toolbar-title-md {
      font-size: 2.5rem !important;
    }
    .location p {
      font-size: 22px !important;
    }
    .event-img {
      img {
        height: 450px !important;
      }
      .fav {
        font-size: 50px !important;
        top: 13% !important;
        right: 8% !important;
      }
      ion-list {
        ion-item {
          font-size: 22px !important;
        }
      }
    }
    .hashtag-cost, .event-place, .event-attendance {
      font-size: 23px !important;
    }
    .event-name {
      h3 {
        font-size: 230% !important;
      }
      ion-icon, span {
        font-size: 23px !important;
      }
    }
    .users {
      img {
        width: 30px !important;
      }
      .user1 {
        right: 68px !important;
      }
      .user2 {
        right: 51px !important;
      }
      .user3 {
        right: 34px !important;
      }
      .user4 {
        right: 17px !important;
      }
    }
    .filter {
      button {
        font-size: 22px !important;
        padding: 30px 35px 30px 35px !important;
      }
    }
  }
}
