page-eventlist {
  ion-header {
    border: 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
  }
  .toolbar-background-md, .toolbar-background-ios {
    background: linear-gradient(90deg, #ed3269, #f05f3e);
  }
  .toolbar-title-md {
    letter-spacing: 1px;
  }
  .location p {
    color: #ed3269 !important;
    letter-spacing: 1px;
  }
  .event-img {
    position: relative;
    .fav {
      font-size: 30px;
      position: absolute;
      top: 15%;
      right: 10%;
    }
    ion-list {
      border-radius: 0 0 5px 5px;
      letter-spacing: 1px;
      ion-item {
        font-size: 14px !important;
      }
    }
  }
  .no-fav {
    .unlike {
      color: #ffffff !important;
      display: block;
    }
    .like {
      display: none;
    }
  }
  .add-to-fav {
    .unlike {
      display: none;
    }
    .like {
      color: #ed3269 !important;
      display: block;
    }
  }
  .star-rating, .event-place, .event-attendance {
    color: #737373 !important;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .star-rating {
    .cost {
      color: #ed3269 !important;
      font-weight: bold !important;
    }
  }
  .users {
    position: relative;
    ion-avatar {
      position: absolute;
      img {
        border: 2px solid #ffffff;
      }
    }
    .user1 {
      right: 40px;
      z-index: 5;
    }
    .user2 {
      right: 30px;
      z-index: 4;
    }
    .user3 {
      right: 20px;
      z-index: 3;
    }
    .user4 {
      right: 10px;
      z-index: 2;
    }
    .user5 {
      right: 0;
      z-index: 1;
    }
  }
  .filter {
    position: fixed;
    bottom: 6%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
    button {
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: capitalize;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3);
      padding: 0 20px 0 20px;
    }
  }
}
