page-share {
  ion-header {
    border: 0;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
  }
  .toolbar-background-md, .toolbar-background-ios {
    background: linear-gradient(90deg, color($colors, theme1), color($colors, theme2));
  }
  .toolbar-title-md {
    letter-spacing: 1px;
  }
  h1 {
    font-size: 200%;
  }
  .share-icon {
    font-size: 4em;
    line-height: 1;
  }
  .card-style {
    .person-icon {
      font-size: 3em;
      line-height: 1;
    }
    h1 {
      font-size: 180%;
    }
    p {
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
  @media only screen and (min-width: 760px) {
    .toolbar-title-md {
      font-size: 2.5rem !important;
    }
    h1 {
      font-size: 300% !important;
    }
    p {
      font-size: 22px !important;
    }
    .share-icon {
      font-size: 5em !important;
    }
    .card-style {
      .person-icon {
        font-size: 4em !important;
      }
      .social-icon {
        margin-left: 50% !important;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }
  }
}
